@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1815; /* Deep Void */
  color: #e5e7eb; /* Soft Light */
}

/* Custom Scrollbar for the Sanctum feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1b1815;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFD700;
}